@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:wght@100..900&display=swap');

html {
    font-family: 'Inter', sans-serif;
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

/* Classe d'apparition avec transition */
.header-appear {
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
    background-color: rgba(191, 191, 191, 0.2); /* bg-gray-500 avec 5% d'opacité */
    backdrop-filter: blur(5px);
    z-index: 50;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Classe de disparition */
.header-disappear {
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
    background-color: transparent;
    backdrop-filter: blur(0);
}


body {
    --sb-track-color: #f3f3f3;
    --sb-thumb-color: #1bd99d;
    --sb-size: 12px;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

body::-webkit-scrollbar {
    width: var(--sb-size)

}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
        var(--sb-track-color);
    }
}